.chall-titre {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.chall-desc {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.chall-desc {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.chall-spacer {
    margin-top: 5rem !important;

}

h3 {
    margin-top: 2rem !important;
}
h4 {
    margin-top: 2rem !important;
}
h5 {
    margin-top: 2rem !important;
}