@font-face {
    font-family: Prisma;
    src: url("Prisma.otf") format("opentype");
}


pre {
    /* background-color: #6c777e;  */
}


.ctf-chall-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 15px;
}

.ctf-background {
    padding: 1rem 0.5rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    background-color: #e9ecef;
}


.ctf-title {
    font-family: Prisma;
    padding: 1rem 0.5rem;
}

.ctf-title-size {
    font-size: 5rem;
    color: rgb(94, 90, 16);
}

.ctf-menu-color {
    color: rgb(94, 90, 16);
}
.ctf-submenu-color {
    color: rgb(94, 90, 16);
}
.ctf-submenu-size {
    font-size: 0.6rem;
    overflow-x:hidden;
    overflow-y:hidden;
}

.ctf-toc-backcolor {
    background-color: rgb(221, 216, 214);
}

.ctf-subtitle-size {
    font-size: 1.5rem
}
.chall-titre {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.chall-desc {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.chall-desc {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.chall-spacer {
    margin-top: 5rem !important;

}

h3 {
    font-size: 1.2rem;
    margin-top: 2rem !important;
}
h4 {
    font-size: 1.0rem;
    margin-top: 2rem !important;
}
h5 {
    font-size: 0.5rem;
    margin-top: 2rem !important;
}